@font-face {
  font-family: 'Cascadia Code';
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/CascadiaCode-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/CascadiaCode-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/CascadiaCode-Bold.woff2") format('woff2');
}

body {
  font-family: 'Cascadia Code', monospace;
  max-width: 70rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #333;
  color: whitesmoke;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > a {
    text-decoration: none;
    margin: 1rem;
  }
}

h1,
h2,
h3 {
  color: #CE9178;
}

h1 {
  text-align: center;
}

a:link {
  color: #9CDCFE;
}

a:visited {
  color: #C586C0;
}

a:hover {
  color: #B5CEA8;
}


.copyright {
  font-weight: 300;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;

}

.project {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-width: 10rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0 1rem
}

.project-link {
  margin-top: auto;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;

  margin: 1rem;
}

@media (max-width: 800px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }
}
