@font-face {
  font-family: 'Cascadia Code';
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/CascadiaCode-Light.woff2") format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/CascadiaCode-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/CascadiaCode-Bold.woff2") format('woff2');
}

body {
  font-family: 'Cascadia Code', monospace;
  max-width: 70rem;
  margin: auto;
  background-color: #1E1E1E;
  color: #d4d4d4;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > a {
    text-decoration: none;
    margin: 1rem;
  }
}

h1,
h2,
h3 {
  color: #CE9178;
  text-align: center;
}

a:link {
  color: #9CDCFE;
}

a:visited {
  color: #C586C0;
}

a:hover {
  color: #B5CEA8;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;

}

.project {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 30rem;
  min-width: 10rem;
  border: 2px solid #d4d4d4;
  border-radius: 1rem;
  padding: 0 1rem;
}

.project-link {
  margin-top: auto;
}

#contact {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  > div {
    flex: 1;
  }
}

#contact-info {
  text-align: center;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.copyright {
  font-weight: 300;
  text-align: center;
}

@media (max-width: 800px) {
  .profile {
    flex-direction: column;
    align-items: center;

    p {
      padding: 0 1rem;
    }
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

}
